
/* this is my place for comments */

body {
	
	
	background-image: url("https://raw.githubusercontent.com/wilcoxk/wilcoxk.github.io/master/image/portal_header.png");  /* 910x436   Possibly going to resize to 915 width*/
	background-repeat:no-repeat;
	background-position:top;
	background-attachment: fixed;

	

	width:875px;
	padding:10px;
	border:5px solid gray;
	margin:auto;  
	margin-top:200px;
         
/* total width is 875+10+10+5+5=905 */

	
}

h1 {
	
	width:845px;
	padding:10px;
	border:5px solid gray;
	margin-left:0px;   
	margin-top:0px;

	font-size: 32pt;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	

	/* margin: 18pt 0 0 0;
	padding: 0 0 3pt 0;
	color: #933;  */
}


#content {


	width:550px;
	padding:10px;
	border:5px solid gray;
	margin-left:0px;   
	margin-top:0px;

}


#twitter {
	
	float:right;
	top:549px;
	left:0px;
	

	width:270px;
	padding:0px;
	border:5px solid gray;
	margin-left:5px;   
	margin-top:0px;
	margin-right:5px;
	
}


#footer {

	

	border-top-style:solid;
	border-top-width:2px;
	border-top-color:black;
	
	text-align:center;

	font-size:12pt;
	font-style:italic;
	font-weight:normal;
	

}





/* start comments


h2 {
	text-align: justify;
	text-align: center;
	vertical-align: middle;
	font-size: 24pt;
	font-weight: normal;
	color: #069;
}

h2.pos_left{
	
	position:relative;
	left:-183px;
}



h3 {
	font-size: 18pt;
	font-style: italic;
	font-weight: normal;
	margin: 18pt 0 0 0;
	color: #933;
	
	padding: 0 0 3pt 0;
}

h4 {
	font-weight: normal;
	font-size: 14pt;
	margin: 12pt 0 0 0;
	padding: 0;
	color: #069;
}



p {
	font-size: 11pt;
	line-height: 16pt;
	margin: 3pt 0 9pt 0;
	padding: 0;
}


End Comments*/

